body {
    width: 100%;

    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.container {
  padding: 2% 3%;
}

h1 , h2{
    font-family: "Poppins", sans-serif;
}

p {
  font-family: "Open sans", sans-serif;
  font-weight: 400;
}
/* Header */

nav {
  margin: 2.5rem 0;
}

nav img{
  width: 20%;
}

nav .btn {
  color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
  border-radius: 50px;
  padding: 4px 15px;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  transition: all 0.3s ease 0s;
}

nav .btn:hover{
  color: hsl(207, 100%, 98%);
  background-color: hsl(322, 100%, 66%);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translateY(-7px);
}

/* Main */

.intro img {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
}

.intro h1{
  margin: 0 5% auto;
  text-align: center;
  width: 95%;
}

.intro .btn {
  margin-left: 35%;
  width: 30%;
  color: #fff;
  background-color: hsl(322, 100%, 66%);
  border-radius: 50px;
  padding: 15px 55px;
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.intro .btn:hover{
  color: hsl(322, 100%, 66%);
  background-color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.intro .container p {
    width: 46%;
    margin: 50px auto;
    text-align: center;
}


.stats .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
}

.communities, .messages {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
}

.communities img, .messages img {
    padding-top: 75px;
    margin-left: 6px;
}

.communities .heading, .messages .heading {
    margin-top: 0;
    text-align: start;
    font-family: "Poppins", sans-serif;
    font-size: 4.5rem;
    font-weight: bolder;
    text-shadow: 2px 2px 2px gray;
}

.communities .text, .messages .text {
    width: 100%;
    margin-left: 0px;
    text-align: center;
    font-size: medium;
    font-weight: 400;
    color: gray;
}


.together img {
    width: 100%;
    margin-bottom: 0px;
}

.growTogether img {
    width: 80%;
    margin: 20px auto;
}

.growTogether {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: hsl(207, 100%, 98%);
}

.grow h2 {
    margin-top: 25%;
    margin-left: 16%;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.together p {
  width: 68%;
  margin: 5% auto;
  text-align:left;
  font-weight: 400;
  font-size: 14px;
}

img.bg {
    transform: rotate(180deg);
    margin-top: -5px;
}

.conversation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10%;
    padding: 10% auto;
}

.conversation img{
  width: 88%;
  margin-left: 12%;
}

.conversation h2 {
    margin-top: 25%;
    margin-left: 14%;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.conversation p{
  width: 70%;
  margin-left: 14%;
  margin-top: 5%;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}

.users {
    padding-top: 10%;
}

.usersChat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: hsl(207, 100%, 98%);
}

.usersChat .userImg {
  width: 80%;
}

.users img{
  width: 100%;
}

.usersChat h2 {
    margin-top: 15%;
    margin-left: 14%;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.usersChat p {
  width: 70%;
  margin-left: 14%;
  margin-top: 5%;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}

.buildCommunity{
  margin: 8% auto;
}

.buildCommunity h2 {
    margin-top: 10%;
    margin-bottom: 4%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}


.getStarted{

    margin-left: 40%;
    color: #fff;
    background-color: hsl(322, 100%, 66%);
    border-radius: 50px;
    padding: 15px 55px;
    transition-duration: 0.4s;
    text-decoration: none;
    justify-content: center;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

.getStarted:hover{
    color: hsl(322, 100%, 66%);
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    text-decoration: none;
}


/* Footer */

footer {
  margin-top: 10%;
  color: white;
}

.bottom img {
    width: 100%;
    margin-bottom: -10px;
}

.bottomLabel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: hsl(192, 100%, 9%);
    color: white;

}

.contacts {
    padding-left: 20%;
}

.contacts p {
    margin-top: 4%;
    font-size: 12px;
    width: 50%;
}

.contacts .icon {
  width: 6%;
  filter: brightness(100%);
  margin: -3px 10px 0 0;
}

.contacts img {
    width: 45%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(100%) contrast(100%);
    margin-top: 8%;
    margin-bottom: 2%;
}
.phEm, .p{
  padding: 0 ;
}

.socialMedia {
    display: grid;
    grid-template-columns: 40px 40px 40px;
    margin: 10% 0 20% 0;
}

.socialMedia a{
    color:  white;
}

.newsLetter{
  padding-left: 20%;
  padding-top: 1%;
}

.newsLetter h4{
    text-align: left;
    margin-left: 0;
    margin-top: 8%;

}

.newsLetter p{
    margin-left: 0;
    margin-top: 4%;
    font-size: 12px;
    text-align: start;
    width: 50%;
}

.signUp input[type=text] {
  width: 50%;
  padding: 7px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid hsl(192, 100%, 9%);
  border-radius: 6px;
}

.signUp .subscribe{
  background-color: hsl(322, 100%, 66%);
  border: none;
  color: white;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.signUp .subscribe:hover{
  color: hsl(322, 100%, 66%);
  background-color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/* Media */

@media (max-width: 400px) {
  .container {
    padding: 0 7%;
  }

  h1 {
    font-size: 1.7rem !important;
    }
  h2 {
      font-size: 1.5rem !important;
      font-weight: 700;
  }

  nav {
    margin: 2rem 0;
  }
  nav img {
    width: 40%;
  }
  nav .btn {
    padding: 4px 15px;
    font-size: 0.8rem;
    margin-left: 4%;
  }

  .intro {
    margin-top: 20%;
  }
  .intro .container p{
    width: 99%;
  }
  .intro .btn{
    width: 82%;
    margin-left: 9%;
  }
  .intro img{
    margin-top: 25%;
  }


  .stats .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .communities img, .messages img {
    padding-top: 82px;
    margin-left: 22px;
    width: 20%;
  }
  .communities, .messages {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-left: 15%;
  }

  .communities .heading, .messages .heading{
    text-align: center;
  }

  .communities .text, .messages .text {
    width: 90%;
    text-align: center;
  }

  .growTogether {
    grid-template-columns: 1fr;
  }
  .grow {
    grid-row: 2;
  }
  .growTogether img {
    grid-row: 1;
    margin-bottom: 20%;
    margin-top: 15%;
  }
  .grow h2{
    margin-top: 3%;
    text-align: center;
    margin: 0 auto;
  }
  .together p{
    width: 80%;
    text-align:center;
    margin-bottom: 10%;
  }


  .conversation {
    grid-template-columns: 1fr;
    margin-top: 30%;
    padding: 4%;
  }
  .conversation img{
    text-align: center;
    margin: 0;
    padding: 8%;
    width: 100%;
  }
  .conversation h2 {
   margin-top: 10%;
   margin-left: 0;
   text-align: center;
   padding: 0 ;
 }
 .conversation p {
   width: 88%;
   text-align:center;
   margin: 0 auto;
   margin-top: 5%;
 }

  .usersChat {
    grid-template-columns: 1fr;
  }
  .usersChat .userImg {
    width: 80%;
    margin: 2% auto;
  }
  .chats {
    grid-row: 2;
    padding: 10%;
  }
  .chats h2 {
    margin-top: 10%;
    margin-left: 0;
    text-align: center;
    padding: 0 ;
  }
  .usersChat img {
    grid-row: 1;
  }
  .usersChat p{
    width: 100%;
    text-align:center;
    margin: 0 auto;
    margin-top: 5%;
  }

  .buildCommunity{
    padding: 20% 10% 20% 10% ;
  }
  .buildCommunity h2 {
    margin: 0 0 20% 0;
    text-align: center;
  }
  .getStarted{
   width: 82%;
   margin-left: 10%;
   margin-top: 10%;
 }

  .bottomLabel {
    grid-template-columns: 1fr;
  }

  .newsLetter {
    grid-row: 1;
    padding: 4% 0 0 8%;
  }

  .newsLetter h4{
    margin-left: 5%;
    text-align: left;
  }
  .newsLetter p {
    margin: 6% 0 9% 5%;
    text-align: left;
    width: 75%;
    font-size: 13px;
  }

  .signUp input[type="text"] {
    display: block;
    width: 90%;
    height: 45px;
    margin: 5% 0 0 -5% ;
  }

  .signUp{
    margin-left: 10%;
  }
  .signUp .subscribe {
    height: 42px;
    width: 40%;
    font-size: large;
    margin: 4% 0 4% 44%;
  }

  .contacts {
    padding-left: 10%;
  }
  .contacts p{
    margin: 6% 0 9% 0;
    width: 78%;
    font-size: 13px;
  }

}
